<p id="notice"><%= notice %></p>

<h1>Showings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type of show</th>
      <th>Available Seats</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @showings.each do |showing| %>
      <tr>
        <td><%= showing.name %></td>
        <td><%= showing.type_of_show %></td>
        <td><%= showing.availableSeats %></td>
        <td><%= link_to 'Show', showing %></td>
        <td><%= link_to 'Edit', edit_showing_path(showing) %></td>
        <td><%= link_to 'Destroy', showing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Showing', new_showing_path %>
