<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @showing.name %>
</p>

<p>
  <strong>Type of show:</strong>
  <%= @showing.type_of_show %>
</p>

<p>
  <strong>Available Seats:</strong>
  <%= @showing.availableSeats.to_a.map{|x| x[1]["id"]}%>
</p>

<table>
  <thead>
    <tr>
      <td>Number of Tickets</td>
      <td>Best Seat Collection</td>
    </tr>
  </thead>
  <tbody>
    <% @showing.all_best_seat_combinations.each do |seat| %>
      <tr>
        <td><%= seat.length %></td>
        <td><%= seat%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Edit', edit_showing_path(@showing) %> |
<%= link_to 'Back', showings_path %>
